@charset "utf-8";
@import "compass";

html, body{
	position: relative;
}
body.open{
	overflow-x: hidden;
}
.mcl_nav_wrap{
	position: relative;
}

// if login 
.admin-bar{
	.mcl_nav_btn{
		margin-top: 32px;
	}
	.mcl_nav_list{
		padding-top: 47px;
	}
}

/*----------------------------------------
	nav btn style 
/*-------------------------------------- */
.mcl_nav_btn{
	position: fixed;
	z-index: 99999;
	display: block;
	width: 32px;
	height: 28px;
	border: none;
	cursor: pointer;
	padding: 7px;
	box-sizing: border-box;
	.btn_border{
		display: block;
		width: 16px;
	    -webkit-transition: all 0.3s;
	    transition: all 0.3s;
	    margin-bottom: 3px;
	}
}

// botton style for open
body.open{
	position: fixed;
.mcl_nav_btn{
	.btn_border.middle{
		visibility: hidden;
	}
	.btn_border:first-child {
		position: absolute;
	    top: 12px;
	    -webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	}
	.btn_border:last-child {
		position: absolute;
		top: 12px;
	    -webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	}
}
}

/*----------------------------------------
	nav list style 
/*-------------------------------------- */
.mcl_nav_list{
	position: fixed;
    top: 0;
    z-index: 99999;
    display: none;
	padding: 15px 0 0;
    width: 250px;
    height: 100%;
    box-shadow: 1px 0 40px rgba(000, 000, 000, 0.2);
    margin: 0;
    overflow: auto;
    li{
		list-style: none;
    }
    li:last-child a{
	    padding: 0 0 2em;
    }
    a{
	    display: block;
	    font-size: 100%;
	    text-decoration: none;
	    &:hover{
		    text-decoration: none;
	    }
    }
    & > li {
	    margin-bottom: 0.8em;
	    padding: 0.8em 1em 0;
    }
    .sub-menu{
	    margin-top: 0.8em;
	    & > li{
			margin-bottom: 0.8em; 
			padding: 0.8em 0 0 1.2em;
	    }
    }
}

/*----------------------------------------
	layer style 
/*-------------------------------------- */
.mcl_nav_layer{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	
}